# EXPO_PUBLIC_API_URL=https://api.lingohouse.app
EXPO_PUBLIC_API_URL=http://localhost:3000
# EXPO_PUBLIC_API_URL=http://192.168.40.147:3000

EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=4254790883-6vnn38qq5tap3aiv8un367dcn8h5vco9.apps.googleusercontent.com